@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200');

/**********************
GENERAL STYLE
**********************/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  line-height: .5em;
  color: rgb(150, 150, 150);
}

div {
  display: block;
  /*border: 1px solid red;*/
}

.container {
  width: 533px;
  margin: 30px auto;
}

.main-wrapper {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 3em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.5em;
}

/**********************
INIT PANEL
**********************/

.init-wrapper {
  margin: 0 auto;
  width: 500px;
}

.init {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
}

.init ul li {
  display: inline-block;
  padding: 10px;
  font-size: 2em;
}

.init ul li:hover {
  cursor: pointer;
  cursor: hand;
  background-color: rgb(150, 150, 150);
  color: rgb(255, 255, 255);
}

.init ul li.selected {
  background-color: rgb(150, 150, 150);
  color: rgb(255, 255, 255);
}

.init button {
  margin-top: 40px;
  font-size: 1em;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 10px;
  padding: 10px 30px;
  background-color: rgb(255, 255, 255);
  color: rgb(150, 150, 150);
  outline: none;
}

.init button:disabled {
  opacity: .3;
}

.init button:enabled:hover {
  cursor: pointer;
  cursor: hand;
  background-color: rgb(150, 150, 150);
  color: rgb(255, 255, 255);
}

/**********************
GAME BOARD
**********************/

.board {
  width: 330px;
  margin: 0 auto;
}

.row {
  display: block;
  height: 112px;
}

.row div {
  display: inline-block;
  vertical-align: top;
  width: 110px;
  height: 110px;
}

#row0, #row1 {
  border-bottom: 2px solid rgb(150, 150, 150);
}

.col0, .col1 {
  border-right: 2px solid rgb(150, 150, 150);
}

.row div:hover {
  cursor: pointer;
  cursor: hand;
  background-color: rgb(245, 245, 255);
}

.board .row i {
  font-size: 50px;
  line-height: 100px;
}

.board .row div.winner i {
  color: rgb(0, 208, 195);
}

/**********************
PLAYERS INFO PANEL
**********************/

.playersInfo {
  margin-top: 30px;
}

.playersInfo>div {
  padding: 20px 50px;
}

.playersInfo .icon {
  margin: 10px 10px;
}

.playersInfo .icon i {
  font-size: 5em;
  padding: 20px;
}

.playersInfo .icon.turn {
  background-color: rgb(150, 150, 150);
  color: rgb(255, 255, 255);
}

.player1 {
  display: inline-block;
}

.player2 {
  display: inline-block;
}

.score h2{
  display: inline;
  vertical-align: top;
  margin-bottom: 20px;
}

.score span {
  color: rgb(0, 208, 195);
  font-size: 5em;
  padding: 0 72px;
}
